<div class="search-overlay" data-search-overlay>
  <div class="search-overlay__inner">
    <form action="/ai-search" method="get" class="search-overlay__form">
      <label class="visually-hidden" for="search-overlay-input">{{ 'Search'|t }}</label>
      <input id="search-overlay-input" type="search" name="q" placeholder="{{ 'Search here..'|t }}" autocomplete="off" data-search-input>
      <button type="submit">{{ 'Search'|t }}</button>
    </form>
  </div>
</div>
